
*{
	box-sizing: border-box;
}

.about{
	position: fixed;
	width:30%;
	background-color: #2a2a2a;
	padding: 4%;
	color: #fff;
	height: 100%;
	padding-bottom: 50%; 
}

#user_name{
	text-align: center;
}

.main{
	width:70%;
	margin-left: 30%;
	background-color: white;
	padding: 0;
	color: #fff;
	height: 100%;
	/*padding-bottom: 50%; */
	margin-bottom: 4%;

}

.connect_with{
/*	padding-top: 3%;
	margin-right: 0;
	margin-left: 4%;
	width: 90%;
*/}

.projects{
	padding-top: 6%;
	margin-left: 4%;
	font-color: black;
	width: 90%;
}

.projects-list > li{
	color: black;
	list-style-type: none;
	/*float: right;*/
	margin-top: 15px;
}

.projects-list h5{
	font-size: 12pt;
}

.projects-list p{
	text-align: justify;
}

.projects_h3{
	color: #5e5e5e;
}

#message_user{
	display: inline-block;
}

.card{
	margin-bottom: 15px;
}
.profile_photo{
	width:100%;
	padding: 10%;
	display: block;
	border-radius: 50%;
	float:left;
	display: inline-block;
    vertical-align: middle;
    display:table-cell;
}

.project-photo-container{
	width: 18%;
	margin: 0 auto;
	position: relative;
	margin: 0 auto;
	float: left;
}

.project-info-container{
	width: 80%;
	margin-left:20%;
}

.project_photo{
	width:100%;
	margin: 0 auto;
	display: block;
	border-radius: 50%;
	display: inline-block;
    height: 100%;
    vertical-align: middle;
    display:table-cell;
}

.usersocial_img{
	margin: 0 auto;
	display: block;
	display: inline-block;
    height: 100%;
    vertical-align: middle;
    display:table-cell;
	color: white;
	border: 0 none;
	font-size: 20px;
	padding: 10px 0;
	margin-top: 5px;
	font-weight: 200;
}


.circle {
	background: blue;
	border-radius: 50%;
	display: inline-block;
	width: 10px;
	height: 10px;
}

#user_role_list li{
	list-style-type: none;
	color: aqua;
	border: 1.5px solid aqua;
	border-radius: 25px;
	text-align: center;
	margin-top: 5px;
	display: inline;
	padding: 2%;
}

#user_role_list{
	margin-top: 20px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/* Footer */
/* ------------------------------------------- */
#user_linkedin_img{
	float: left;
}

#user_github_img{
	float: right;
}
ul.role-icons{
	margin: 0;
	padding: 0;
}
.role-icons li{
	display: inline-block;
}
.u-fl{
	float: left;
}

